---
import ShoppingCard from '../icons/Shopping-cart.astro'
---
<header class="header w-full py-2 sticky top-0 z-[999]">
    <div class="w-[90%] max-w-[1000px] mx-auto flex justify-between items-center">
        <figure class="flex items-center gap-2">
            <img src="./public/favicon.svg" alt="Logo de la pagina web" class="w-[35px]">
            <a href="/" class="font-playfair text-xl font-bold text-secondary uppercase">Universidad</a>
        </figure>
        <div class="ca">
            <ul class="s">
                <li class="relative group transition-all duration-300 ">
                    <ShoppingCard class="w-[35px] fill-secondary950 transition-colors duration-200 ease-linear hover:fill-buttonActive800 hover:cursor-pointer"></ShoppingCard>

                    <!-- AQUI EMPIEZA LA LISTA DE CARRITO -->
                    <div id="carrito" class="absolute top-8 right-0 bg-white shadow-shadowCarrito rounded-lg min-h-[400px] max-h-[400px] w-[1000%] p-4 overflow-y-auto [display:none] group-hover:block">
                            
                        <table id="lista-carrito" class="u-full-width w-full">
                            <thead>
                                <tr class="mb-2">
                                    <th class="border-b-2 border-b-solid border-b-secondary950 py-2 px-2 text-center text-secondary950">Imagen</th>
                                    <th class="border-b-2 border-b-solid border-b-secondary950 py-2 px-2 text-center text-secondary950">Nombre</th>
                                    <th class="border-b-2 border-b-solid border-b-secondary950 py-2 px-2 text-center text-secondary950">Precio</th>
                                    <th class="border-b-2 border-b-solid border-b-secondary950 py-2 px-2 text-center text-secondary950">Cantidad</th>
                                    <th class="border-b-2 border-b-solid border-b-secondary950 py-2 px-2 text-center text-secondary950"></th>
                                </tr>
                            </thead>
                            <tbody class="tbody">
                                
                            </tbody>
                        </table>
                        
                        <a href="#" id="vaciar-carrito" class="text-center text-primary500 block mt-4 py-2 rounded-lg font-[200] border-[1px] border-solid border-primary500 hover:border-buttonHover600 hover:text-buttonHover600 active:border-secondary950 active:text-secondary950">Vaciar Carrito</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</header>

<style>

    .header{
        animation: headerScrool 0.5s ease-in-out both;
        animation-timeline: scroll(root block);
        animation-range: 0 150px;
    }
    @keyframes headerScrool {
        100% {
            background-color: #ffffff90;
            backdrop-filter: blur(10px);
            border-radius:0 0 15px 15px;
        }
        
    }

    .tbody{
        
        tr{
        }
    }
</style>

<script type="module">
    const carrito = document.querySelector('#carrito');
    const contenedorCarrito = document.querySelector('#lista-carrito tbody');
    const listaCursos = document.querySelector('#lista-cursos');
    const vaciarCarrito = document.querySelector('#vaciar-carrito');
    let articulosCarrito = [];

    // console.log(listaCursos)
    

    cargarEventListeners();
    function cargarEventListeners(){
        // Cuando agregas un curso presionando "agregar al carrito"
        listaCursos.addEventListener('click', agregarCurso);

        // Eliminar cursos del carrito
        carrito.addEventListener('click', eliminarCurso);

        // vaciar carrito 
        vaciarCarrito.addEventListener('click', ()=>{
            articulosCarrito = [];
            limpiarHTML();
        })
    }

    function agregarCurso (e){
        e.preventDefault();
        if(e.target.classList.contains('agregar')){
            const cursoSeleccionado = e.target.parentElement.parentElement;
            leerDatosCurso(cursoSeleccionado);
        }
    }

    function leerDatosCurso(curso){
        const infoCurso = {
            image: curso.querySelector('img').src,
            title:curso.querySelector('h3').textContent,
            precio:curso.querySelector('.precioDescuento').textContent,
            id:curso.querySelector('a').getAttribute('data-id'),
            cantidad:1
        }

        // revisar si el elemento ya existe en el carrito
        const existe = articulosCarrito.some(curso=>curso.id === infoCurso.id);
        if (existe){
            const cursos = articulosCarrito.map(curso=>{
                if (curso.id === infoCurso.id){
                    curso.cantidad++;
                    return curso;
                } else{
                    return curso
                }

            });
            articulosCarrito = [...cursos];
        } else{
            articulosCarrito = [...articulosCarrito, infoCurso];
        }

        // agregar elementos al carrito
        carritoHTML();
    }

    function carritoHTML(){
        limpiarHTML();

        // genera el html
        articulosCarrito.forEach(curso => {
            const {image, title, precio, cantidad, id} = curso;
            const row = document.createElement('tr');
            row.innerHTML = `
                <td class="w-full">
                    <img class="w-full rounded-md m-0" src="${image}" alt="imagen del curso en carrito">
                </td>

                <td class="text-[#555] text-xs pl-2 py-2">${title}</td>
                <td class="text-[#555] text-center">${precio}</td>
                <td class="text-[#555] text-center">${cantidad}</td>
                <td class="text-[#555] text-center">
                    <a class="close text-white bg-primary500 flex justify-center items-center w-6 h-6 text-lg rounded-full hover:cursor-pointer hover:bg-buttonHover600 active:bg-secondary950" href="#" data-id="${id}">x
                    </a>
                </td>


            `;

            contenedorCarrito.appendChild(row);
        });
        console.log(articulosCarrito);
    };

    function limpiarHTML(){
        while(contenedorCarrito.firstChild){
            contenedorCarrito.removeChild(contenedorCarrito.firstChild);
        }
    }

    // eliminar del carrito
    function eliminarCurso(e){
        e.preventDefault();
        if(e.target.classList.contains('close')){
            const cursoId = e.target.getAttribute('data-id');

            articulosCarrito = articulosCarrito.filter(curso => curso.id !== cursoId);
            carritoHTML();
        }
    }
    
</script>